table, thead, tr, td, th, tbody{
    /* margin: 1%; */
    border: 1px solid;
}
table{
    width: 90%;
    height: 60vh;
}
*{
    margin: 0%;
    padding: 0%;
}
.table{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
td>button{
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10px;
}